<div class="flex justify-between mb-4">
    <div class="w-1/2 px-4">
        <h2>Got a talk idea? We want to see it!</h2>
        <p>
            We’re pleased to announce our conference, {{ site.title }} should be
            one of the best PHP conferences where community members from around
            the world come together to learn and share information about the latest
            trends and technologies in professional PHP development.
        </p>
        <p><a href="{{ url('talk_ideas') }}" class="text-brand text-bold">View Talk Ideas</a></p>
    </div>

    <div class="w-1/2 px-4">
        <h2>Speaker Package</h2>
        <p>
            We know speakers are key to the success of a conference and hope you will submit a talk.
        </p>
        <p><a href="{{ url('speaker_package') }}" class="text-brand text-bold">View Full Speaker Package</a></p>
    </div>
</div>
<div class="mt-8 px-4">
    <h2>Community selected talks</h2>
    <p>
        Call for Papers <strong>runs until 1st February 2019</strong> after which the process of reviewing and selecting talks begins. Organizers will form a selection committee that will study each and every proposal and after three rounds of voting they will made the selection according to the quality of the proposal as well as to the interest from the targeted audience. The whole process takes no more than a month and the final list of speakers and their talks will be announced by begging of March, 2019.
    </p>
    <p>
        <strong>For the first time ever, we would like to include all conference participants in this process</strong> - the Call for Papers is public, meaning that all registered users will have access to the list of proposals and will be able to vote for their favorite talks and comment them. This approach allows us to pick subjects that are most attractive for the community. You have the opportunity to help our team in selecting talks for {{ site.title }}.
    </p>
</div>

<div class="mt-8 px-4">
    <h2>Diversity Matters!</h2>
    <p>
        {{ site.title }} is committed to creating a conference that is as inclusive as possible. We want to showcase talent available around the world and welcome international submissions as well.
    </p>
    <p>
        We are also committed to ensuring the conference is a place where ideas are exchanged, old friends get together, new friends meet and <strong>harassment is not tolerated</strong>. We expect speakers, attendees and sponsor representatives to be professional and courteous to each other. We reserve the right to remove, without refund, ANY attendee (speaker or otherwise) who is unable to adhere to this policy.
    </p>
</div>
