<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{{ site.title }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/assets/css/app.css" rel="stylesheet" media="screen">
        <link href="/assets/css/phpsrb.css?6" rel="stylesheet" media="screen">
        <link rel="shortcut icon" type="image/png" href="/assets/img/index.png"/>
        <meta name="og:title" content="PHP Serbia Conference 2019">
        <meta name="og:type" content="page">
        <meta name="og:image" content="https://phpsrbija.rs/uploads/f/f/5/ff59f46f3ff13ef8a18092fc01861072.jpg">
        <meta name="og:url" content="https://conf2019.phpsrbija.rs/">
        <meta name="og:description" content="Join us for PHP Serbia Conference 2019. Details Coming Soon. Sign Up to our newsletter for more info.">
        <meta property="og:description" content="Join us for PHP Serbia Conference 2019. Details Coming Soon. Sign Up to our newsletter for more info.">
        <meta property="og:type" content="page">
        <meta property="og:image" content="https://phpsrbija.rs/uploads/f/f/5/ff59f46f3ff13ef8a18092fc01861072.jpg">
        <meta property="og:url" content="https://conf2019.phpsrbija.rs/">
        <meta property="og:title" content="PHP Serbia Conference 2019">
    </head>
    <body class="border-t-4 border-brand">
        <nav class="{% if not active('homepage') %}border-b border-white{% endif %}">
            <div class="container mx-auto logoWrapper flex justify-between">
                <a class="font-serif flex items-center" href="{{ url('homepage') }}">
                    <img src="/assets/img/phpsrb-logo2.png" alt="" height="60">
                    {#<h1 class="font-normal m-2">PHP <span class="text-brand font-bold">Srbija</span></h1>#}
                </a>
                <div class="flex">
                    <a href="{{ url('homepage') }}" class="mr-8 py-6 {% if active('homepage') %}border-b-4 border-brand{% endif %}">Home</a>
                    <a href="{{ url('speaker_package') }}" class="mr-8 py-6 {% if active('speaker_package') %}border-b-4 border-brand{% endif %}">Speaker Package</a>
                    <a href="{{ url('talk_ideas') }}" class="mr-8 py-6 {% if active('talk_ideas') %}border-b-4 border-brand{% endif %}">Talk Ideas</a>
                    {% if user is defined and user is not empty %}
                        <a href="{{ url('dashboard') }}" class="mr-8 py-6 {% if active('dashboard') %}border-b-4 border-brand{% endif %}">Dashboard</a>
                        {% if user_is_admin %}
                            <a href="{{ url('admin') }}" class="mr-8 py-6 {% if active('admin') %}border-b-4 border-brand{% endif %}">Admin</a>
                        {% endif %}
                        {% if user_is_reviewer is defined and user_is_reviewer %}
                            <a href="{{ url('reviewer') }}" class="mr-8 py-6 {% if active('reviewer') %}border-b-4 border-brand{% endif %}">Reviewer</a>
                        {% endif %}
                        <a href="{{ url('logout') }}" class="py-6 text-soft">Logout</a>
                    {% else %}
                        <a href="{{ url('login') }}" class="mr-8 py-6">Login</a>
                        <a href="{{ url('user_new') }}" class="py-6">Signup</a>
                    {% endif %}
                </div>
            </div>
        </nav>

        {% block header %}
        {% endblock %}

        <main class="pb-8">
            <div class="container mx-auto pt-4 flex">
                <div class="flex-1 mr-16">{% block sidebar %}{% endblock %}</div>
                <div class="flex-3 w-full">{% block content %}{% endblock %}</div>
            </div>
        </main>

        {% block scripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.min.js"
                    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                    crossorigin="anonymous"></script>
        {% endblock %}

        <footer class="footer">
            <div class="container mx-auto mt-8">
                <p>Powered by <a href="https://github.com/opencfp/opencfp">OpenCFP</a></p>
            </div>
        </footer>
    </body>
</html>
